body{
    margin: 0;
}
#parallax {
    position: relative;
    height: 100vh;
    background: #E8E1D6;
    background-image:
            url(https://astelun.com/Botanica/images/404.png),
            url(https://astelun.com/Botanica/images/leafy_big.png),
            url(https://astelun.com/Botanica/images/blad_logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
}