$Beibg:#EFE8DE;
$Beihead:#F7F4F1;
$Green:#50694A;
$Blue:#C5E2E8;
$Org:#EA9071;

$transitionTime: 0.05s;
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


h1, h2, h3, h4, h5{
  font-family: "Playfair Display";
}
h4{
  color: black;
}

.footer{
  background-color: $Green;
  font-family: "Playfair Display";
  color: white;
}

.nav-link{
  color: black;
  font-weight: bolder;
}

 nav.sticky{
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   background-color: $Beihead;
}

html {
  scroll-behavior: smooth;
}

.foto{
  z-index: 2;
}

#Hertil{
  background: $Beihead;
}

.valgF{
  background: $Beihead;
}

.icon-blad{
  background-image: url("images/blad_logo.png");
  background-position: center center;
}


.col-sm{
  padding: 2.5rem;
  background-color: #50694A;
  border: none;
  color: black;
  text-align: center;
  margin: 60px;
}

.button{
  height: 50px;
  padding: 0;
  background: $Green;
  border-color: $Beibg;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover{
  background: #EA9071;
  color: #ffffff;
}

.pil{
  background: white;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.kat:hover{
  background: #EA9071;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.button__text{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}
.button__text:hover{
  color: #ffffff;
}

.section-header{
  text-align: center;
}

#header {
  transition: all 0.3s ease-in-out;
}

.flyv{
  transition: all 0.3s ease-in-out;
}

.bagved{
  position: fixed;
  z-index: -2;
  height: 100vh;
  width: 100%;
}

.bodybg1{
  background: $Org;
}
.bodybg2{
  background: $Org;
}
.bodybg3{
  background: $Org;
}

.hero{
  display: none;
}

#smartnav{
  background-color: transparent;
}

.big{
  height: 100vh;
  z-index: 2;
}

@media (min-width: 992px) {

  h1{
    display: none;
  }

  .hero{
    display: block;
  }

  .tiny{
    display: none;
  }

  #smartnav{
    background-color: $Beihead;
  }

  .bodybg1{
    background: $Blue;
  }
  .bodybg2{
    background: $Green;
  }
  .bodybg3{
    background: $Beibg;
  }

  .big{
    height: 10vh;
  }
}

