$Beibg:#EFE8DE;
$Beihead:#F7F4F1;
$Green:#50694A;
$Blue:#C5E2E8;
$Org:#EA9071;

$transitionTime: 0.05s;
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

html {
  scroll-behavior: smooth;
}

.newClass {
  color: hotpink;
}

.foto{
  z-index: 2;
}

#Hertil{
  background: $Beihead;
}

.valgF{
  background: $Beihead;
}

.icon-blad{
  background-image: url("images/blad_logo.png");
  background-position: center center;
}

.hero{
  background: $Green;
}

.col-sm{
  padding: 2.5rem;
  background-color: #50694A;
  border: none;
  color: black;
  text-align: center;
  margin: 60px;
}

.button{
  height: 50px;
  padding: 0;
  background: $Green;
  border-color: $Beibg;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover{
  background: #EA9071;
  color: #ffffff;
}

.kat:hover{
  background: #EA9071;
  color: #ffffff;
}

.button__text{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}
.button__text:hover{
  color: #ffffff;
}

.section-header{
  text-align: center;
}

#header {
  trasition: 0.2s;
}

.flyv{
  trasition: 0.2s;
}

.bagved{
  position: fixed;
  z-index: -1;
  height: 100vh;
}

.bodybg1{
  background: $Blue;
}
.bodybg2{
  background: $Org;
}
.bodybg3{
  background: $Green;
}

//CATEGORY-OVERVIEW

.category-overview-container {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.category-overview-item {
  background-color: #cecbab;
  position: relative;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: $transitionTime ease-in-out transform;

  &:hover {
    background-color: #b99309;
    color: #ebe5db;
    transform: scale(1.025);
    i:not(:first-of-type) {
      color: #ebe5db;
      display: unset;
      position: absolute;
      top: 0.5rem;
    }
    i {
      color: #ebe5db;
    }
  }
  i {
    font-size: 2rem;
    color: #30422e;
  }
  i:not(:first-of-type) {
    color: red;
    display: none;
    position: absolute;
    top: 50%;
    animation-fill-mode: forwards !important;
    animation-duration: 0.75s !important;
  }
  i:nth-child(2) {
    animation: spread-1;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(3) {
    animation: spread-2;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(4) {
    animation: spread-3;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(5) {
    animation: whirlwind-right-1;
    transform: translate(50%, -50%);
    right: 50%;
  }
  i:nth-child(6) {
    animation: whirlwind-right-2;
    transform: translate(50%, -50%);
    right: 50%;
  }
  i:nth-child(7) {
    animation: whirlwind-right-3;
    transform: translate(50%, -50%);
    color: purple;
    right: 50%;
  }
}

#clearFilterButton {
  padding: 0;
  font-size: 0.9rem;
  color: #b3b3b3;
}

// PRODUCTS;

.product-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-category-button {
  display: inline-block;
  font-family: "Playfair Display";
  background-color: #bfbfbf;
  padding: 0.25rem;
  font-size: 0.9rem;
  width: 49%;
  margin-bottom: 0.25rem;
  text-align: left;

  &:nth-child(even) {
    margin-left: 1%;
  }
  &:nth-child(odd) {
    margin-right: 1%;
  }

  @media (min-width: 992px) {
    display: block;
    width: 100%;
    padding: 0.5rem 0.25rem;
    &:nth-child(even) {
      margin-left: 0;
    }
    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  &:focus {
    box-shadow: none !important;
  }
  i {
    color: transparent;
    margin-right: 0.5rem;
  }
  &.selected i {
    color: #30422e;
  }
  &:hover {
    background-color: #b99309;
    color: #ebe5db;
  }
}

.product-item {
  background-color: #cecbab;
  padding: 1rem;
  margin-bottom: 0.5rem;
  height: 100%;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .product-item-category {
    display: inline-block;
    background-color: #bfbfbf;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .product-item-image {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .product-item-title {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .product-item-weight {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  .product-item-price {
    padding: 0.5rem 0;
    padding-top: 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: right;
  }

  .product-item-priceContainer {
    .product-item-shopNotification {
      background-color: #ebe5db;
      margin-bottom: 0.15rem;
      padding: 0 0.25rem;
      font-size: 0.85rem;
      text-align: right;
      color: blue;
    }
  }
}
